
@font-face{
	font-family:Chalkduster;
	font-style:normal;
	font-weight:400;
	src: url(../../fonts/Chalkduster.woff) format('woff')
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #222222;
    color: #fff;
}
td {
	font-size: 20px;
}

.result-table tbody tr th {
    width: 33%;
}

.video-container {
    height: 225px;
    width: 225px;
    margin: 3px;
    display: inline-block;
}

.video-container-ablation {
    height: 250px;
    width: 250px;
    margin: 3px;
    display: inline-block;
}

.video-label {
    margin-top: 5px;
    font-weight: bold;
}

.result-video {
    height: 225px;
    width: 225px;
}

.ablation-video {
    height: 250px;
    width: 250px;
}

.page-container {
    width: 1600px;
    min-height: 1000px;
    margin: 0 auto; /* top and bottom, right and left */
    text-align: left; /* top, right, bottom, left */
    padding-top: 0em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}


.pca-table th,td {
    align-items: center;
    text-align: center;
}


th.afhq {
    width: 200px;  
}
th {
    text-align: center;
}
a:link {
    color: #4488ff;
    text-decoration: underline;
}
a:active {
    color: #4488ff;
    text-decoration: underline;
}
a:visited {
    color: #4488ff;
    text-decoration: underline;
}
a:hover {
    color: #ff0000;
    text-decoration: none;
}
.reference {
    font-size: 80%;
}
.emph {
    color: #B1FF00;
}

.comparison-img {
    width: 150px !important;
}

hr {
    background-color: white;
}